<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>[ WEB-sTorrent ]</title>
    <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "static/css/main.css"/>
    <link rel="stylesheet" href = "static/css/list.css"/>
    <link rel="stylesheet" href = "static/css/topBar.css"/>
  </head>
  <body>
    <ul id="download_list" class="download_list block_select">
      <li>
        <p>NAME</p>
        <p>SIZE</p>
        <p>STATE</p>
        <p>STATUS</p>
        <p>SPEED</p>
        <p></p>
        <img src="static/img/add.svg" class="add_ico icon">
      </li>
      <li>
        <img src="static/img/download.svg" class="download_ico icon">
        <p class="name">Qt Creator</p>
        <p class="size">2.228GB</p>
        <p class="state">87.2%</p>
        <p class="status">downloading</p>
        <p class="speed_in">2.2 Gb/s</p>
        <img src="static/img/trash.svg" class="delete_ico icon">
      </li>
      <li>
        <img src="static/img/download.svg" class="download_ico icon">
        <p class="name">Qt Creator Qt Creator Qt Creator</p>
        <p class="size">2.228GB</p>
        <p class="state">87.2%</p>
        <p class="status">downloading</p>
        <p class="speed_in">2.2 Gb/s</p>
        <img src="static/img/trash.svg" class="delete_ico icon">
      </li>
    </ul>
    <!-- <div class="topBar">

    </div> -->
  </body>
</html>
